<%
  # Mandatory:
    #employees: list of employees that you can give kudos to
%>
<div class="panel">
  <% if !@employees.blank? %>
      <table class="Give-Kudos-Table" id="Give-Kudos-Table">
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Give Kudos</th>
        </thead>
        <tbody>
        <% employees.each do |employee| %>
            <tr>
              <td><%= employee.first_name %></td>
              <td><%= employee.last_name %></td>
              <td>
                <div class="rating">
                  <!--<span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="3"></span>-->
                  <!--<span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="2"></span>-->
                  <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="1"></span>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3">
            <div class="text-center">
              <%= paginate employees %>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
  <% end %>
</div>
