<div class="modal fade kudos-modal" id="kudosModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Give Kudos</h2>
      </div>
      <div class="modal-body">
        <div class="modal-error-message text-danger"></div>

        <div class="kudo-confirmation-message">
          Give <span class="kudo-amount"></span> to <span class="kudo-receiver-name"></span>!
        </div>

        <%= form_for @kudo_transaction, url: kudos_path, format: :json, remote: true, html: {"data-type": "json", multipart: true, id: 'kudos-transaction-form'} do |f| %>
          <div class="input-group">
            <label for="kudos-attachment">Attachment as proof for giving Kudos:</label>
            <%= f.file_field(:attachment, class: "form-control kudo-transaction-attachment", id:"kudos-attachment") %>
            <%= f.hidden_field(:to_id, id: 'kudos-to_id-input') %>
            <%= f.hidden_field(:amount, value: 1) %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          </div>
          <div class="input-group">
            <label for="">Kudo Category:</label>
            <%= f.collection_select(:kudo_categories_id, KudoCategory.all, :id, :name, {include_blank: true}, {class: '', style: ''}) %>
          </div>
          <div class="input-group">
            <label for="kudos-reason">Reason for giving Kudos:</label>
            <%= f.text_area(:reason) %>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success give-btn">Give</button>
      </div>
    </div>
  </div>
</div>
