<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">


      <%= render "common/panel", title: 'Give Kudos' do %>
          <%= form_tag("/dashboard", method: "get", class: 'form-inline') do %>
              <span><label for="colleague-search">Use the search box below to find your colleagues.</label> The results of the search will display below the search box.
                When you find the colleague you will be able to give them kudos!
              </span>
              <hr>
              <div class="form-group main-search">
                <div class="input-group main-search">
                  <input type="text" name="q" class="form-control" id="colleague-search"
                         title="You can search by entering a full name or part of the name (wild-card search)"
                         placeholder="Enter your colleagues name here..." value="<%= params[:q] %>">
                  <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search!</button>
              </span>
                </div>
              </div>
          <% end %>
          <hr>

          <p>You can give someone up to 1 Kudo per day. <strong>Click on the star to the right of your colleagues name in the table to give them a Kudo</strong>. </p>
           <p> You can give out as many Kudos as you want per day</p>


          <div class="panel">
            <% if !@employees.blank? %>
                <table class="Give-Kudos-Table" id="Give-Kudos-Table">
                  <thead>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Give Kudos</th>
                  </thead>
                  <tbody>
                  <% @employees.each do |employee| %>
                      <tr>
                        <td><%= employee.first_name %></td>
                        <td><%= employee.last_name %></td>
                        <td>
                          <div class="rating">
                            <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="3"></span>
                            <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="2"></span>
                            <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="1"></span>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="4">
                      <div class="text-center">
                        <%= paginate @employees %>
                      </div>
                    </td>
                  </tr>
                  </tfoot>
                </table>
            <% end %>
          </div>
      <% end %>

      <%= render "common/panel", title: 'Add User Request' do %>
        <span>Don't see a colleague's name in the search box? Use this form to request the admins to add them:</span>
          <hr>
          <label for="add-name">Colleague's Name:</label>
          <br>
          <label for="add-email">Colleague's Email:</label>
      <% end %>

    </div>

    <div class="col-md-3">
      <%= render "common/panel", color_class: 'panel-success', title: "Profile" do %>
          <% employee = current_employee %>
              <div class="panel panel-default">
                <div class="panel-body center-content">
                  <span class="glyphicon glyphicon-user glyphicon-profile"></span>
                  <br>
                  <br>
                  <p><strong>Your Current Badge</strong></p>
                  <hr>
                  <dl>
                    <dt><%= t('dashboard.profile.name') %></dt>
                    <dd><%= employee.first_name %> <%= employee.last_name %></dd>
                  </dl>
                </div>
          </div>

      <% end %>

      <%= render "common/panel", color_class: 'panel-success', title: "MVP" do %>
          <div class="panel panel-default">
            <div class="panel-body center-content">
              <div class="user-dash-icon-container shooting-star-icon-200"></div>


              <hr>
              <dl>
                <dt>Last Month's MVP:</dt>
                <dd><%= Employee.leader_last_month.first.try(:fullname) || "Max Brailovsky" %></dd>
              </dl>
            </div>
          </div>

      <% end %>

      <%= render "common/panel", color_class: 'panel-success', title: "#{@date.strftime('%B %Y')} Leaderboard" do %>
          <table id="leaderboard-table" class="table table-striped leaderboard-table">
            <thead>
            <th>Rank</th>
            <th>Employee</th>
            </thead>
            <tbody>
            <% MonthlyRanking.by_month.limit(5).each do |ranking| %>
                <tr>
                  <td><%= ranking.rank %></td>
                  <td><%= ranking.employee.fullname %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>



      <% if current_employee && current_employee.is_admin %>
          <%= render "common/panel", color_class: 'panel-info', title: "Administrator Actions" do %>
              <%= link_to "Manage Employees", employee_edits_path %>
              <p>Reports</p>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "dashboard/kudos_modal" %>
