<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary profile">
        <% employee = current_employee %>

        <div class="panel-heading">
          <%= t('dashboard.profile.header') %>
        </div>

        <div class="panel-body">
          <div class="row">

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body center-content">
                  <span class="glyphicon glyphicon-user glyphicon-profile"></span>
                  <hr>
                  <dl>
                    <dt><%= t('dashboard.profile.name') %></dt>
                    <dd><%= employee.first_name %> <%= employee.last_name %></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body center-content">
                  <div class="glyphicon glyphicon-ok glyphicon-profile"></div>
                  <hr>
                  <dl>
                    <dt><%= t('dashboard.profile.kudos.received') %></dt>
                    <dd><%= employee.kudos_received %></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body center-content">
                  <span class="glyphicon glyphicon-star glyphicon-profile"></span>
                  <hr>
                  <dl>
                    <dt><%= t('dashboard.profile.kudos.balance') %></dt>
                    <dd data-kudo-balance-id="<%= employee.id %>"><%= employee.kudo_balance %></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-body center-content">
                  <span class="glyphicon glyphicon-stats glyphicon-profile"></span>
                  <hr>
                  <dl>
                    <dt><%= t('dashboard.profile.kudos.rank') %></dt>
                    <dd><%= employee.current_rank %></dd>
                  </dl>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <%= render "common/panel", title: 'Give Kudos' do %>
          <%= form_tag("/dashboard", method: "get", class: 'form-inline') do %>
              <span>Use the search box below to find your colleagues. The results of the search will display below the search box.
                When you find the colleague you will be able to give them kudos!
              </span>
              <hr>
              <div class="form-group main-search">
                <div class="input-group main-search">
                  <input type="text" name="q" class="form-control" placeholder="Three..Two..One.." value="<%= params[:q] %>">
                  <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search!</button>
              </span>
                </div>
              </div>
          <% end %>
          <hr>

          <p>You can give someone up to three Kudos, per person, per month
            . Be careful, you only have a budget of 10 Kudos to give every month.</p>


          <div class="panel">
            <% if !@employees.blank? %>
                <table class="Give-Kudos-Table" id="Give-Kudos-Table">
                  <thead>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Kudos</th>
                  <th>Give Kudos</th>
                  </thead>
                  <tbody>
                  <% @employees.each do |employee| %>
                      <tr>
                        <td><%= employee.first_name %></td>
                        <td><%= employee.last_name %></td>
                        <td data-kudo-received-id="<%= employee.id %>"><%= employee.kudos_received %></td>
                        <td>
                          <div class="rating">
                            <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="3"></span>
                            <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="2"></span>
                            <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-employee-first-name="<%= employee.first_name %>" data-kudos-amount="1"></span>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="4">
                      <div class="text-center">
                        <%= paginate @employees %>
                      </div>
                    </td>
                  </tr>
                  </tfoot>
                </table>
            <% end %>
          </div>
      <% end %>

      <%= render "dashboard/kudos_this_month", kudo_transactions: @kudo_transactions %>
    </div>

    <div class="col-md-3">
      <%= render "common/panel", color_class: 'panel-success', title: "#{@date.strftime('%B %Y')} Leaderboard" do %>
          <table id="leaderboard-table" class="table table-striped">
            <thead>
            <th>Rank</th>
            <th>Employee</th>
            </thead>
            <tbody>
            <% MonthlyRanking.by_month.limit(5).each do |ranking| %>
                <tr>
                  <td><%= ranking.rank %></td>
                  <td><%= ranking.employee.fullname %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

      <%= render "common/panel", color_class: 'panel-success', title: "Last Month's Winner" do %>
          <%= Employee.leader_last_month.first.try(:fullname) || "N/A" %>
      <% end %>

      <% if current_employee && current_employee.is_admin %>
          <%= render "common/panel", color_class: 'panel-info', title: "Administrator Actions" do %>
              <%= link_to "Manage Employees", employee_edits_path %>
              <p>Reports</p>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "dashboard/kudos_modal" %>
