<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">

          <div class="panel panel-primary profile">
            <% employee = current_employee %>
            <div class="panel-heading">
              <%= t('dashboard.profile.header') %>
            </div>
            <div class="panel-body">
              <div class="row">

                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-body center-content">
                      <span class="glyphicon glyphicon-user glyphicon-profile"></span>
                      <hr>
                      <dl>
                        <dt><%= t('dashboard.profile.name') %></dt>
                        <dd><%= employee.first_name %> <%= employee.last_name %></dd>
                      </dl>
                    </div>
                  </div>
                </div>



                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-body center-content">
                      <div class="glyphicon glyphicon-ok glyphicon-profile"></div>
                      <hr>
                      <dl>
                        <dt><%= t('dashboard.profile.kudos.received') %></dt>
                        <dd><%= employee.kudos_received %></dd>
                      </dl>
                      </div>
                    </div>
                </div>

                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-body center-content">
                      <span class="glyphicon glyphicon-star glyphicon-profile"></span>
                      <hr>
                      <dl>
                        <dt><%= t('dashboard.profile.kudos.balance') %></dt>
                        <dd data-kudo-balance-id="<%= employee.id %>"><%= employee.kudo_balance %></dd>
                      </dl>
                    </div>
                  </div>
                </div>
          </div>

        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          Search
        </div>
        <div class="panel-body">
          <%= form_tag("/dashboard", method: "get", class: 'form-inline') do %>
              <div class="form-group main-search">


                <div class="input-group main-search">
                  <input type="text" name="q" class="form-control" placeholder="Three..Two..One.." value="<%= params[:q] %>">
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary">Blast Off!</button>
                    </span>
                </div>

              </div>
          <% end %>

          <div class="panel">
            <table id="Give-Kudos-Table">
              <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Kudos</th>
              <th>Give Kudos</th>
              </thead>
              <tbody>
              <% @employees.each do |employee| %>
                  <tr>
                    <td><%= employee.first_name %></td>
                    <td><%= employee.last_name %></td>
                    <td data-kudos-received-id="<%= employee.id %>"><%= employee.kudos_received %></td>
                    <td>
                      <div class="rating">
                        <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-kudos-amount="3"></span>
                        <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-kudos-amount="2"></span>
                        <span class="star" data-toggle="modal" data-target="#kudosModal" data-employee-id="<%= employee.id %>" data-kudos-amount="1"></span>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%= @date.strftime('%B %Y') %> Leaderboard
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          Last Month's Winner
        </div>
        <div class="panel-body">
          VariQ
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "dashboard/kudos_modal" %>

<script>
  var receiverId;
  var amount;
  $('#kudosModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    receiverId = button.data('employee-id');
    amount = button.data('kudos-amount');
  });

  function give() {
    $.ajax({
      type: 'POST',
      url: '/kudos',
      dataType: 'json',
      data: 'to=' + receiverId + '&amount=' + amount,
      success: function (data) {
        $('*[data-kudo-balance-id="' + <%= current_employee.id %> +'"]').html(data.balance);
        $('*[data-kudos-received-id="' + data.to.id + '"]').html(data.to.kudos_received);
        $('#kudosModal').modal('hide');
      }
    });
  }
</script>
