<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Your Info
        </div>
        <div class="panel-body">
          <dl>
            <dt>Name</dt>
            <dd>Info</dd>
          </dl>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          Search
        </div>
        <div class="panel-body">
          <%= form_tag("/dashboard", method: "get", class: 'form-inline') do %>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" name="q" class="form-control" placeholder="Employee Search" value="<%= params[:q] %>">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
          <% end %>

          <div class="panel">
            <table class="table table-hover">
              <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Kudos</th>
              </thead>
              <tbody>
              <% @employees.each do |employee| %>
                <tr>
                  <td><%= employee.first_name %></td>
                  <td><%= employee.last_name %></td>
                  <td><%= employee.kudos_received %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%= @date.strftime('%B %Y') %> Leaderboard
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          Last Month's Winner
        </div>
        <div class="panel-body">
          VariQ
        </div>
      </div>
    </div>
  </div>
</div>