  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'Username' %>
    <%= text_field_tag 'employee[username]', employee.username %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag 'employee[password]' %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag 'employee[password_confirmation]' %>
  </div>

  <div class="field">
    <%= label_tag 'Email' %>
    <%= email_field_tag 'employee[email]', employee.email %>
  </div>

  <div class="field">
    <%= label_tag :first_name %>
    <%= text_field_tag 'employee[first_name]', employee.first_name %>
  </div>

  <div class="field">
    <%= label_tag :last_name %>
    <%= text_field_tag 'employee[last_name]', employee.last_name %>
  </div>

  <div class="field">
    <%= check_box_tag 'employee[is_admin]', 1, employee.is_admin %>
    <%= label_tag 'employee[is_admin]', "Is Admin" %>
  </div>

  <div class="actions">
    <%= submit_tag "Save changes", class: "btn btn-primary" %>
  </div>

