<script>
  $("clear-search").on("click", function() {
    $("search-text").val("")
  })
</script>

<%= render "common/panel", title: 'Admin Dashboard' do %>

  <p id="notice"><%= notice %></p>

  <h1>Employees</h1>



  <%= form_tag employee_edits_path, method: "get", class: 'form-inline' do %>
    <div class="form-group main-search">
      <div class="input-group main-search">
        <%= text_field_tag "search", "", class: "form-control", placeholder: "Three..Two..One..", value: @search_term %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Search!</button>
        </span>
      </div>
    </div>
  <% end %>

  <br>

  <div class="panel">
    <% if @employees && @employees.length > 0 %>
      <table>
        <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Is Admin?</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.username %></td>
            <td><%= employee.first_name %></td>
            <td><%= employee.last_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.is_admin ? "Yes" : "No" %></td>
            <td><%= link_to 'View Details', employee_edit_path(employee) %></td>
            <td><%= link_to 'Edit', edit_employee_edit_path(employee) %></td>
            <td><%= link_to 'Delete', employee_edit_path(employee), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <div class="text-center">
              <%= paginate @employees %>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    <% end %>
  </div>


  <hr>
  <div class="row">

    <div class="col-md-2">
      <%= link_to 'Add New Employee', new_employee_edit_path, class: "btn btn-primary" %>
    </div>

    <div class="col-md-2">
      <%= link_to 'Back to Kudos dashboard', dashboard_path, class: "btn btn-primary" %>
    </div>

    <div class="col-md-8"></div>

  </div>

<% end %>
