<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Employee Kudo - MVP</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      setTimeout(function () { 
        $('div.notice-bar').fadeOut('fast'); 
      }, 3000);

      setTimeout(function () {
        $('div.alert-bar').fadeOut('fast');
      }, 3000);

    </script>

  </head>

  <body>
    <%= render "layouts/header" %>

    <main>
      <div class="content-container">

        <div class="text-container">

          <%= yield %>

        </div>
      </div>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
