<!DOCTYPE html>
<html>
  <head>
    <title>Employee Kudo - MVP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if employee_signed_in? %>
      <p class="welcome">Welcome, <%= current_employee.email %>!</p>
      <p><%= link_to "Sign out", destroy_employee_session_path, method: :delete %></p>
    <% else %>
      <p>Welcome to BaseApp!</p>
      <p><%= link_to "Sign in", new_employee_session_path %></p>
    <% end %>
    <p><%= link_to "Home", root_path %></p>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
